@import "../../../defaultStyles/input-text.scss";
@import "../../../defaultStyles/button.scss";

.input {
    @include input-text;
    margin-bottom: 20px;
}

.button {
    @include button;
    min-width: 200px;
    margin: 0 auto;
}