node_modules
**/package-lock.json
service/frontend/static
__pycache__
requiremets.txt
service/manage.py.save
service/static/
Pipfile
Pipfile.lock
service/db.sqlite3
service/backend/migrations

.vscode
