@import "../../../defaultStyles/button.scss";
@import "../../../defaultStyles/colors.scss";
@import "../../../defaultStyles/customIcons.scss";

.cashInfo {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.cashInfoText {
    display: flex;
    align-items: center;
    font-weight: bold;
    align-self: center;
    margin-right: 16px;
    font-size: 1.2em;

    span {
        margin-right: 0.32em;
    }

    .moneyChar {
        color: $orange-color;
    }
}

.button {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 24px;
    background-color: rgba($color: $orange-color, $alpha: 0.5);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
}
